* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  font-family: Manrope;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: var(--Dark-Grayish-Blue);
  max-width: 70%;
  min-width: 50%;
  border-radius: 1em;
  padding: 1.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

h4 {
  color: var(--Neon-Green);
  font-size: 1.2rem;
}

p {
  color: var(--Light-Cyan);
  /* font-size: 1.4rem; */
  text-align: center;
}

.mobile-divider {
  display: none;
}

.dice-container {
  background-color: var(--Neon-Green);
  padding: 0.5em;
  border-radius: 50%;
  position: relative;
  bottom: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 60px;
  height: 60px;
  justify-content: center;
}

.dice-container.animate {
  animation: roll 2s linear;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  p {
    font-size: 1.4rem;
  }

  .mobile-divider {
    display: block;
    width: 100%;
  }

  .desktop-divider {
    display: none;
  }

  .dice-container {
    width: 40px;
    height: 40px;
    bottom: 20px;
  }

  .dice-container img {
    width: 20px;
    /* height: 40px; */
  }
}
